<!-- app/views/layouts/_rightnavbar.html.erb -->

<nav class="bg-white w-1/5 h-full fixed top-0 right-0 flex flex-col items-center">
  <!-- Permanent content of the sidebar goes here -->
  <!-- You can use daisyui components for additional features -->
  hiiii
</nav>


